<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--Spring容器初始化方式:xml,注解,test测试类_spring注解-->

    <!--Spring提供监听器,监听Tomcat服务器的启动,自动初始化Spring容器-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!--配置Spring的xml文件路径-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:Spring-config.xml</param-value>
    </context-param>

    <!--controller基于容器-->

    <!--配置springMVC的中央处理器,用于做请求的分发处理,是基于servlet实现的-->
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--配置Springmvc的xml文件路径-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:SpringMVC-config.xml</param-value>
        </init-param>
        <!--
        加载的优先级:
        优先级为>=0时,随Tomcat启动加载
        优先级为<0时,当这个servlet被调用时加载
        -->
        <!--设为1,当tomcat启动时,就对请求分发-->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
        <!--<url-pattern>*.do</url-pattern>-->
    </servlet-mapping>


</web-app>